.modal-submit-offer .ant-modal-content .ant-modal-body .input-offer .ant-typography {
  @apply text-sm text-black leading-[18px] !important;
}
.modal-submit-offer .ant-modal-content .ant-modal-body .input-offer .ant-input {
  @apply py-3 px-4 rounded-2xl m-1;
}
.modal-submit-offer .ant-modal-content .ant-modal-body .ant-card {
  @apply border-none !important;
}
.modal-submit-offer .ant-modal-content .ant-modal-body .ant-card .ant-card-body {
  @apply bg-neutral-200 font-medium rounded-2xl my-3 !important;
}
.modal-submit-offer
  .ant-modal-content
  .ant-modal-body
  .ant-card-meta
  .ant-card-meta-avatar
  .ant-avatar-image {
  @apply rounded-xl h-12 w-12 object-cover !important;
}
.modal-submit-offer
  .ant-modal-content
  .ant-modal-body
  .ant-card-meta
  .ant-card-meta-detail
  .ant-card-meta-title {
  @apply text-sm !important;
}
.modal-submit-offer
  .ant-modal-content
  .ant-modal-body
  .ant-card-meta
  .ant-card-meta-detail
  .ant-card-meta-description {
  @apply text-sm text-black !important;
}
.modal-submit-offer .ant-modal-content .ant-modal-body .ant-typography-secondary {
  @apply font-normal  !important;
} /*# sourceMappingURL=style.css.map */
