/* .notif {
  @apply rounded-xl shadow-lg !important;
}
.notif-text {
  @apply text-2xl font-semibold p-2 !important;
}
.product-offer-div {
  @apply w-[100%]  mb-3  !important;
}
.product-offer-desc {
  @apply text-base !important;
}
.product-offer-div .ant-card-body {
  @apply flex w-[100%]  !important;
}
.product-offer-div .ant-card-body .ant-card-meta {
  @apply grow-0;
}
.product-offer-div .ant-card-body .ant-card-meta .ant-avatar-image {
  @apply rounded-xl h-12 w-12 !important;
}
.product-offer-div .ant-card-body .product-offer-desc {
  @apply grow;
}
.product-offer-div .ant-card-body .product-offer-desc .top {
  @apply flex justify-between text-[10px];
}
.product-offer-div .ant-card-body .product-offer-desc .middle {
  @apply flex flex-col font-medium antialiased;
}
.product-offer-div .ant-card-body .product-offer-desc .bottom {
  @apply flex justify-end gap-1 mt-3;
}
.product-offer-div .ant-card-body .product-offer-desc .bottom .button-offer {
  @apply rounded-full text-sm font-medium py-2 px-6 min-w-[158px] !important;
} # sourceMappingURL=style.css.map */

.notification-item {
  @apply border-0 cursor-pointer !important;
}

.notification-item:not(:first-child) {
  @apply pt-4 mt-4 border-t border-[#E5E5E5] !important;
}

.notification-item .ant-card-body {
  @apply p-0 flex w-[100%] !important;
}

.notification-item .ant-card-body .ant-card-meta {
  @apply grow-0;
}

.notification-item .ant-card-body .ant-card-meta .ant-avatar-image {
  @apply rounded-xl h-12 w-12 !important;
}

.notification-item .ant-card-body .notification-item-description {
  @apply grow;
}

.notification-item .ant-card-body .top {
  @apply flex justify-between text-[10px];
}

.notification-item .ant-card-body .middle {
  @apply flex flex-col antialiased;
}

.notification-item .ant-card-body .bottom {
  @apply flex justify-end gap-1 mt-3;
}
