.product-slider .swiper {
  @apply w-full h-[436px] mb-6;
}

.product-slider .swiper-slide {
  @apply text-center text-lg bg-white flex justify-center items-center;
}

.product-slider .swiper-slide img {
  @apply md:rounded-2xl rounded-none block w-full h-full object-cover;
}

.product-slider .swiper {
  @apply mx-auto;
}

.product-slider .swiper-pagination .swiper-pagination-bullet {
  @apply w-[6px] h-[6px] mx-[3px] opacity-100 border border-purple-800;
  background: #c4c4c4;
}

.product-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-purple-800;
}

.product-slider .swiper-button-prev,
.product-slider .swiper-button-next {
  @apply w-[30px] h-[30px] flex items-center justify-center bg-white shadow-mini rounded-[100%] scale-100 ease-in;
}

.product-slider .swiper-button-prev:hover,
.product-slider .swiper-button-next:hover {
  @apply scale-125 bg-purple-800;
}

.product-slider .swiper-button-prev::after,
.product-slider .swiper-button-next::after {
  font-size: 13px;
  font-weight: 800;
  color: #8a8a8a;
  text-shadow: 0px 0px 1px #8a8a8a;
  transition: ease 0.5s;
}

.product-slider .swiper-button-prev:hover::after,
.product-slider .swiper-button-next:hover::after {
  color: #ffffff;
  text-shadow: 0px 0px 1px #ffffff;
}

@media screen and (max-width: 767px) {
  .product-slider {
    margin: 0 -1.4rem -40px;
    position: relative;
    z-index: 0;
  }

  .product-slider .swiper {
    width: 100%;
    height: 400px;
  }

  .product-slider .swiper-pagination {
    bottom: 51px;
  }

  .product-slider .swiper-button-prev,
  .product-slider .swiper-button-next {
    display: none;
  }

  .product-slider .swiper-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 0 3px;
    background: transparent;
    border: 1px solid #ffffff;
    opacity: 1 !important;
  }

  .product-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #ffffff;
  }
}
