.product {
  @apply container max-w-xl py-10 m-auto relative !important;
}

.add-image {
  @apply cursor-pointer rounded-xl w-24 h-24 flex overflow-hidden border border-dashed border-[#D0D0D0] hover:border-primary text-[#D0D0D0] hover:text-primary relative transition-all duration-300 !important;
}

.add-image-result {
  @apply w-24 h-24 cursor-pointer ml-2 object-cover border border-[#D0D0D0];
}

.add-image-icon {
  @apply w-full h-full absolute flex items-center justify-center;
}
