.empty-product-text {
  @apply text-center pt-6 text-sm font-normal !important;
}
.empty-product {
  @apply w-[282px] mx-auto !important;
}
.empty-product-image {
  @apply w-[276px] mx-auto !important;
}
