.custom-text {
  @apply text-lg text-red-800;
}

.product-grid {
  @apply grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-6 gap-4 pb-10;
}

.product-grid-sale {
  @apply grid grid-cols-2 sm:grid-cols-3 gap-4;
}

.category-container {
  @apply flex mb-8 md:mb-10 w-full md:overflow-auto overflow-x-scroll;
}

.category-container::-webkit-scrollbar {
  display: none;
}

.category-container .category {
  @apply mr-4;
}

.button-add-product {
  @apply fixed right-0 left-0 bottom-7 w-[115px] z-20 mx-auto !important;
}

.button-add-product .button {
  box-shadow: 0 20px 36px 0 #a06ece;
}
