.product-card {
  @apply p-2 pb-4 !important;
}
.product-card .ant-card {
  @apply shadow-default rounded !important;
}
.product-card .ant-card-cover img {
  @apply rounded h-[100px] object-cover;
}
.product-card .ant-card-body {
  @apply pt-2 p-0 !important;
}
.product-card .ant-card-meta-title {
  @apply text-sm font-normal mb-1 !important;
}
.product-card .ant-card-meta-category {
  @apply text-[10px] font-normal pb-2 !important;
}
.product-card .ant-card-meta-price {
  @apply text-sm font-normal text-black !important;
}
