.product-page {
  @apply pb-10 md:py-10;
}

.product-page .container {
  @apply max-w-[968px];
}

.product-page-grid {
  @apply flex w-full;
}

.product-page-grid-left {
  @apply pr-8;
  width: calc(100% - 336px);
}

.product-page-grid-right {
  @apply w-full max-w-[336px];
}

@media screen and (max-width: 767px) {
  .product-page-grid {
    @apply block;
  }
  .product-page-grid-left,
  .product-page-grid-right {
    @apply w-full pr-0 max-w-full;
  }
}
