.product-detail {
  @apply mb-4 md:mb-6 shadow-default bg-white rounded-2xl pt-4 pb-6 px-6 antialiased;
}

.product-detail-name {
  @apply text-base font-medium mb-0;
}

.product-detail-category {
  @apply mt-2 mb-4 text-gray-350;
}

.product-detail-price {
  @apply mb-6 text-base;
}
