.layout-auth {
  @apply relative;
}

.layout-auth-navigation {
  @apply top-5 md:hidden absolute z-10 w-[90%] sm:w-[80%] md:max-w-[452px] mx-auto left-0 right-0;
}

.layout-auth-logo {
  @apply text-white;
}

.layout-auth-wrapper {
  @apply min-h-screen grid grid-cols-1 md:grid-cols-2;
}

.layout-auth-right {
  @apply pl-20 hidden md:flex items-center;
  background: url('@assets/img/bg-auth.png');
  background-size: cover;
}

.layout-auth-left {
  @apply sm:flex items-center justify-center;
}

.layout-auth-form {
  @apply mx-auto pt-24 sm:pt-0 sm:flex items-center md:min-h-[auto] md:block w-[90%] sm:w-[80%] md:max-w-[452px] relative !important;
  min-height: calc(100vh);
}

@media screen and (max-height: 600px) {
  .layout-auth-form {
    min-height: 600px;
  }
}

.layout-auth-form-wrapper {
  @apply w-full;
}

.layout-auth-title {
  @apply mb-6 !important;
}

.layout-auth-info {
  @apply md:mt-10 text-center absolute bottom-6 right-0 left-0 md:bottom-0 mx-auto md:relative;
}
