.sidebar-wrapper {
  @apply p-6 shadow-default rounded-2xl  !important;
}

.sidebar-wrapper-desktop {
  @apply hidden md:block;
}

.sidebar-title {
  @apply text-base mb-2;
}

.sidebar-list-wrapper {
  @apply grid grid-cols-1 divide-y m-0;
}

.sidebar-option {
  @apply pb-4 pt-4 flex items-center justify-between;
}

.list-text {
  @apply flex;
}

.sidebar-option-text {
  @apply ml-2;
}

.link {
  @apply text-black;
}

.active {
  @apply text-purple-700 !important;
}

.sidebar-mobile {
  @apply mb-6 flex w-full md:overflow-auto overflow-x-scroll md:hidden;
}

.sidebar-mobile::-webkit-scrollbar {
  display: none;
}

.sidebar-mobile .category {
  @apply mr-4 flex-nowrap !important;
}

.sidebar-mobile .active {
  @apply text-white bg-purple-800 !important;
}
