.profile {
  @apply container max-w-xl py-10 relative !important;
}

.profile-img {
  @apply rounded-xl w-24 h-24 mx-auto overflow-hidden bg-purple-200 mb-6 text-primary relative;
}

.profile-img-icon {
  @apply w-full h-full absolute flex items-center justify-center;
}

.profile-img-avatar {
  @apply w-full h-full object-cover;
}

.profile-menu {
  @apply mt-9;
}

.profile-menu-item {
  @apply flex items-center border-b border-[#e5e5e5] hover:border-purple-800 cursor-pointer;
}
.profile-menu-item svg {
  @apply w-5 h-5 mr-5 text-purple-800;
}
.profile-menu-item span {
  @apply py-[18px] md:py-5 md:text-lg font-medium antialiased text-black !important;
}

.profile-version {
  @apply text-center text-gray-350 pt-4 antialiased;
}

.profile-back {
  @apply absolute -left-20 cursor-pointer hidden md:block;
}
