.modal-status
  .ant-modal-content
  .ant-modal-body
  .ant-radio-group
  .ant-space-vertical
  .ant-space-item
  .ant-radio-wrapper {
  @apply flex gap-[6px];
}
.modal-status
  .ant-modal-content
  .ant-modal-body
  .ant-radio-group
  .ant-space-vertical
  .ant-space-item
  .ant-radio-wrapper
  .text-radio-button {
  @apply flex flex-col gap-1  !important;
}
.modal-status
  .ant-modal-content
  .ant-modal-body
  .ant-radio-group
  .ant-space-vertical
  .ant-space-item
  .ant-radio-wrapper
  .text-radio-button
  .title-radio {
  @apply text-sm font-normal !important;
}
.modal-status
  .ant-modal-content
  .ant-modal-body
  .ant-radio-group
  .ant-space-vertical
  .ant-space-item
  .ant-radio-wrapper
  .text-radio-button
  .desc-radio {
  @apply text-sm text-[#8A8A8A] !important;
} /*# sourceMappingURL=style.css.map */
