.user-card {
  @apply mb-4 rounded-2xl drop-shadow-md w-[100%] !important;
}
.user-card .ant-card-body {
  @apply flex justify-between items-center !important;
}

.user-card .ant-card-meta {
  @apply items-center;
}

.user-card .ant-card-body .devider {
  @apply w-[100%];
}

.user-card .ant-card-body .ant-avatar-image {
  @apply rounded-xl h-12 w-12 object-cover !important;
}

.user-card .ant-card-body .ant-avatar-image img {
  @apply h-12 w-12 object-cover !important;
}

.user-card .ant-card-body .ant-card-meta-title {
  @apply text-sm mb-1 font-medium !important;
}

.user-card .ant-card-body .ant-card-meta-description {
  @apply text-[10px] !important;
}
