.modal-accept-offer .ant-modal-content .ant-modal-body {
  @apply flex flex-col gap-2 !important;
}
.modal-accept-offer .ant-modal-content .ant-modal-body .card-accept-offer {
  @apply w-[100%] bg-[#EEEEEE] rounded-2xl text-sm antialiased !important;
}
.modal-accept-offer .ant-modal-content .ant-modal-body .ant-card-meta {
  @apply m-0 !important;
}
.modal-accept-offer
  .ant-modal-content
  .ant-modal-body
  .ant-card-meta
  .ant-card-meta-avatar
  .ant-avatar-image {
  @apply rounded-xl h-[100%] w-12 !important;
}
.modal-accept-offer .ant-modal-content .ant-modal-body .ant-card-meta .ant-card-meta-title {
  @apply text-sm antialiased font-medium mb-0 !important;
}
.modal-accept-offer
  .ant-modal-content
  .ant-modal-body
  .card-accept-offer
  .ant-card-body
  .accept-offer-card {
  @apply mt-4 !important;
}
.modal-accept-offer
  .ant-modal-content
  .ant-modal-body
  .card-accept-offer
  .ant-card-body
  .accept-offer-card
  .ant-card-meta-avatar
  .ant-avatar-image {
  @apply rounded-xl h-[70%] w-12 !important;
}
.modal-accept-offer
  .ant-modal-content
  .ant-modal-body
  .card-accept-offer
  .ant-card-body
  .accept-offer-card
  .ant-card-meta-detail
  .ant-card-meta-description {
  @apply flex flex-col !important;
}
.modal-accept-offer
  .ant-modal-content
  .ant-modal-body
  .card-accept-offer
  .ant-card-body
  .accept-offer-card
  .ant-card-meta-detail
  .ant-card-meta-description
  .not-accepted-price {
  @apply line-through;
} /*# sourceMappingURL=style.css.map */
